@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  overflow: hidden;
}

.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.fc-searchButton-button {
  background-color: transparent !important;
  border: none !important;
  color: #2c3e50 !important;
}

.fc-day:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.fc-daygrid-day-frame {
  z-index: 0;
}

.fc .fc-daygrid-event {
  z-index: -1;
}

.Mui-error {
  color: #ef3b27 !important;
  background-color: #fa807257;
}

@media (max-width : 540px) {
  .fc-header-toolbar {
    font-size: 13px;
  }  
}

@media (max-width : 490px) {
  .fc-header-toolbar {
    font-size: 9px;
  }  
}

.custom-input {
  margin-left: 8px !important;
}

@layer utilities {
  .w-22 {
    width: 5.5rem;
  }

  .ml-5-5 {
    margin-left: 1.375rem;
  }

  .color-wb {
    color: #3788d8;
  }

  .color-mg {
    color: #73e473;
  }

  .color-cr {
    color: #FF7F50;
  }

  .color-lv {
    color: #a0a0e8;
  }

  .color-gr {
    color: #DAA520;
  }

  .color-sg {
    color: #708090;
  }

  .color-sm {
    color: #FA8072;
  }

  .color-tl {
    color: #008080;
  }

  .color-ig {
    color: #4B0082;
  }

  .color-cs {
    color: #DC143C;
  }
}

.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

