@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  overflow: hidden;
}

.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.fc-day:hover {
  background-color: aliceblue;
  cursor: pointer;
}

@media (max-width : 540px) {
  .fc-header-toolbar {
    font-size: 13px;
  }  
}

@media (max-width : 490px) {
  .fc-header-toolbar {
    font-size: 9px;
  }  
}

.custom-input {
  margin-left: 8px !important;
}